#example-element {
  background-color: #e59fee;
  color: rgb(244, 227, 246);
  padding: 0.75em;
  width: 80%;
  height: 100px;
  unicode-bidi: bidi-override;
}
p {
      border: none;
      padding: 10px;
      width: fit-content;
      transition: all 0.3s ease; /* smooth effect */
      cursor: pointer;
}

p:hover {
      /* border-color: rgb(139, 110, 207); */
      background-color: rgb(238, 139, 231);
      color: rgb(197, 132, 230);
}
p { 
  color: blue !important; 
}
li:has(+ li:last-of-type) {
  color: red;
  font-weight: bold;
}
span {
  background-color: aqua;
}

div > span {
  background-color: yellow;
}
p ~ span {
  color: red;
}
li {
  list-style-type: disc;
}

li li {
  list-style-type: circle;
}
@namespace svgNamespace url("http://www.w3.org/2000/svg");
@namespace htmlNameSpace url("http://www.w3.org/1999/xhtml");
/* All `<a>`s in the default namespace, in this case, all `<a>`s */
a {
  font-size: 1.4rem;
}
/* no namespace */
|a {
  text-decoration: wavy overline lime;
  font-weight: bold;
}
/* all namespaces (including no namespace) */
*|a {
  color: red;
  fill: red;
  font-style: italic;
}
/* only the svgNamespace namespace, which is <svg> content */
svgNamespace|a {
  color: green;
  fill: green;
}
/* The htmlNameSpace namespace, which is the HTML document */
htmlNameSpace|a {
  text-decoration-line: line-through;
}
#example-element {
  font-size: 1.5em;
}

.example-container {
  background-color: rgb(236, 76, 76);
  padding: 20px;
}
